body {
  font-size: 2em;
}

button, textarea {
  font-size: 1em !important;
}

ul, li {
  list-style: none;
}

#entrant-list {
  margin-top: 50px;
}

#add-panel {
  #add-panel {

  }
  .remove-entrant {
    position: absolute;
    right: 15px;
    top: 0;
  }
}

#winner-row {
  margin: 15px 0;
}

#last-winner {
  font-size: 1.5em;
  text-align: center;
}

#run-winner-header {
  text-align: center;
  font-size: 3em;
}

#run-panel .well {
  text-align: center;
}